
{% extends "myApp/base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}

<h1 class="text-primary text-center">Enter new password</h1>
<div class="container d-flex align-items-center justify-content-center" style="min-height: 10vh;">
         <div class="form-container">
             <form action="" method="post">
                    {% comment %} csrf token is used to preventing forbidden error and for security {% endcomment %}
                 {% csrf_token %}
                 {{ form.as_p }}
                 <button type="submit" class="btn btn-primary btn-block">Change my password</button>
            
             </form>
         </div>
 </div>
{% endblock body %}