{% extends "myApp/base.html" %} {% block title %}Login{% endblock title %} {%
load static %} {% block body %}


<h1 class="text-primary text-center">Reset your password</h1>
<div class="container d-flex align-items-center justify-content-center" style="min-height: 10vh;">
         <div class="form-container d-flex  align-items-center justify-content-center">
             <form action="" method="post">
                    {% comment %} csrf token is used to preventing forbidden error and for security {% endcomment %}
                 {% csrf_token %}
                 {{ form.as_p }}
                 <button type="submit" class="btn btn-primary btn-block">Reset my password</button>
                </form>
         </div>
 </div>
{% comment %} 
<h2>Reset your password</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Reset my password</button>
</form> {% endcomment %}
{% endblock body %}
