{% extends "myApp/base.html" %}
{% block title %}Home{% endblock title %}
{% block productActive %}
             active     
{% endblock productActive %}
{% block body %}

<div class="container mt-5 shadow p-4">
     <div class="m-4">
          <h1 class="text-warning p-2">Are you sure, you want to  delete {{product_category.name}}</h1>
          <form action="" method="post">
               {% csrf_token %}
               <button type="submit" class="btn btn-danger">Yes delete</button>
               <a href="{% url 'product_categories' %}" class="btn btn-outline-info">Cancel</a>
          </form>
     </div>
</div>

{% endblock body %}